$primaryColor: #659c4b;
$secondaryColor: #1b1b1b;
$backgroundColor: #f2f2f2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

#main-header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    h1 {
        color: $primaryColor;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: $primaryColor;
            text-decoration: none;
            margin: 1rem;
        }
    }
}

main {
    flex-grow: 1;
    background-color: $backgroundColor;
}

.shopCart {
    color: $primaryColor;
}

.greeting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.greeting-text {
    color: $secondaryColor;
}