$primaryColor: #659c4b;
$secondaryColor: #1b1b1b;
$backgroundColor: #f2f2f2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100vh;
    font-family: 'Roboto'
}

#root {
  display: flex;
  flex-direction: column;
}


// Header: START
#main-header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    h1 {
        color: $primaryColor;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: $primaryColor;
            text-decoration: none;
            margin: 1rem;
        }
    }
}
// Header: END

main {
    flex-grow: 1;
    background-color: $backgroundColor;
}

// Shopping cart: START
.shopCart {
    color: $primaryColor;
}
// Shopping cart: END

// Greeting: START
.greeting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.greeting-text {
    color: $secondaryColor;
}
// Greeting: END

// Counter: START
.counter-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 15vw;
}

.counter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em 1em 0em;

}

.item-counter-text {
    text-align: center;
}

.add-product-button {
    display: flex;
}

.color-button {
    color: $primaryColor
}
// Counter: END

// Item list container: START
.item-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loader-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
// Item list container: END

// Item: START
.item-container {
    padding: 1em;
    border: 1px;
    width: 31%;
    background-color: white;
    margin: 1em;
    color: $primaryColor;
}

.item-container:hover {
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
}

.item-title {
    font-weight: bold;
}

.item-description {
    color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 0 1em 0 1em;
}

.item-price {
    padding: 1em;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// Item: END

//Item list: START
.container-item-list {
    display: flex;
    flex-direction: row;
    margin: 1em;
    padding: 0.5em;
    width: 100vw;
    flex-wrap: wrap;
}
//Item list: END