$primaryColor: #659c4b;
$secondaryColor: #1b1b1b;
$backgroundColor: #f2f2f2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body , #root {
    height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}


// Header: START
#main-header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    h1 {
        color: $primaryColor;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            color: $primaryColor;
            text-decoration: none;
            margin: 1rem;
        }
    }
}
// Header: END

main {
    flex-grow: 1;
    background-color: $backgroundColor;
}

// Shopping cart: START
.shopCart {
    color: $primaryColor;
}
// Shopping cart: END

// Greeting: START
.greeting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.greeting-text {
    color: $secondaryColor;
}
// Greeting: END

// Counter: START
.counter-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 15vw;
}

.counter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0em 1em 0em;

}

.item-counter-text {
    text-align: center;
}

.add-product-button {
    display: flex;
}

.color-button {
    color: $primaryColor
}
// Counter: END

// Item list container: START
.item-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
// Item list container: END
